{% extends 'base.html' %}

{% block title %} Folio {% endblock %}

{%block content %}


<h1>Welcome to Folio :)</h1>
<h2>My portfolio website.</h2>
<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae a quaerat quidem aliquid? Aut ipsum dolores id iure eius ullam, error consequatur temporibus, quia deserunt non, eum voluptatibus. Sint, illo quis quasi omnis veritatis, voluptatum voluptate eveniet cupiditate non ea, neque aut laboriosam asperiores harum debitis nobis commodi molestiae ullam ab voluptatem? Distinctio odit repellat quia earum ipsam rem. Totam possimus omnis blanditiis nostrum impedit beatae qui harum placeat praesentium animi at, recusandae facere. Qui eligendi nisi asperiores 
    cumque iusto, culpa repellat eius sit cupiditate atque! Magni distinctio quisquam dolorum!</h3>


{% endblock %}